/* line 1, ../compass/sass/style.scss */
#search-bar {
  margin-top: 20px;
}

/* line 4, ../compass/sass/style.scss */
.typeahead {
  width: 300px;
}

/* line 8, ../compass/sass/style.scss */
img {
  width: 100%;
}

/* line 11, ../compass/sass/style.scss */
.movie-poster {
  margin-top: 15px;
  margin-bottom: 15px;
}
